body{
margin:0;
font-family:Arial;
background:linear-gradient(180deg,#f3a8bd,#e4a3c8);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

/* карточка скрыта */
.card{
display:none;
background:white;
width:420px;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.small{
color:gray;
font-size:12px;
letter-spacing:2px;
}

h1{
color:#e94c89;
}

.text{
color:#555;
line-height:1.6;
}

.heart{
position:fixed;
top:-20px;
pointer-events:none;
animation:fall linear forwards;
}

@keyframes fall{

0%{
transform:translateY(-10vh);
opacity:1;
}

100%{
transform:translateY(110vh);
opacity:0;
}

}